
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 align="center">Welcome <%=@user.username%></h1>
  </div>
  <div class="col-md-2 col-md-offset-2">
    <h2 align="center"><%=link_to "Logout",login_path,method: :delete %></h2>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h3 align="center">Your Passwords</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4" align="center">

    <%= will_paginate @user.employees.paginate(page: params[:page],per_page:3), renderer: BootstrapPagination::Rails%>
    <% @user.employees.paginate(page: params[:page],per_page:3).each do |employee| %>
      <div class="well well-lg" style="text-align: center;">
        <div class="panel panel-info">
          <div class="panel-heading">
            Usname : <%= employee.usname %>
          </div>
          <div class="panel-body">
            Password : <%= employee.password %>
          </div>
        </div>
        <%= link_to 'Show', employee,class:"btn btn-primary btn-sm" %>
      </div>
    <% end %>

    <div style="text-align: center;">
      <p><%= link_to 'Add New Password', new_employee_path, class:"btn btn-primary btn-sm" %></p>
    </div>
  </div>
</div>